<div class="row">
    <div class="col s12"><h3>New Admin</h3></div>
</div>
<form name="createAdminForm" method="post">
    <div class="row">
        <div class="input-field col s12 m6">
            <input class="validate" type="text" id="user.username" name="user.username" ng-model="createAdmin.user.username" required>
            <label class="active" for="user.username">Username</label>
        </div>
        <div class="input-field col s12 m6">
            <input class="validate" type="password" id="user.password" name="user.password" ng-model="createAdmin.user.password" required>
            <label class="active" for="user.password">Password</label>
        </div>
        <div class="input-field col s12 m6">
            <input class="validate" type="text" name="user.first_name" id="user.first_name" ng-model="createAdmin.user.first_name" required>
            <label class="active" for="user.first_name">Firstname</label>
        </div>
        <div class="input-field col s12 m6">
            <input class="validate" type="text" name="user.last_name" id="user.last_name" ng-model="createAdmin.user.last_name" required>
            <label class="active" for="user.last_name">Lastname</label>
        </div>
        <div class="input-field col s12 m6">
            <input class="validate" type="email" name="user.email" id="user.email" ng-model="createAdmin.user.email" required>
            <label class="active" for="user.email">Email</label>
        </div>
        <div class="input-field">
            <input class="validate" type="hidden" name="user.role_id" id="user.role_id" ng-init="createAdmin.user.role_id=2">
        </div>
        <div class="input-field col s12 m6">
            <input class="autocomplete" type="text" name="user.region" id="user.region" ng-model="createAdmin.user.region" required>
            <label for="user.region">Postal code, city or region</label>
        </div>
        <div class="input-field col s10 m5">
            <input class="validate" type="text" name="user.street_name" id="user.street_name" ng-model="createAdmin.user.street_name" required>
            <label class="active" for="user.street_name">Street name</label>
        </div>
        <div class="input-field col s2 m1">
            <input class="validate" type="number" name="user.house_number" id="user.house_number" ng-model="createAdmin.user.house_number" min="0" required>
            <label class="active" for="user.house_number">Nr.</label>
        </div>
        <div class="col s12">
            <button type="submit" class="waves-effect waves-light btn blue darken-4" ng-click="createAdmin.createAdmin(createAdminForm)">Create</button>
        </div>
    </div>
</form>

