
<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Material Design for Bootstrap fonts and icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<!-- Material Design Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Material Design for Bootstrap CSS -->
<link type="text/css" rel="stylesheet" href="stylesheets/main.css">
<title>Nghouse</title>
</head>
    <body>
        <div class="container">
            <h1>404</h1>
            <p>Page not found</p>
            <a href="/">Back to Homepage</a>      
        </div>
        <!-- JQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- Materialize CSS -->
        <script src="javascripts/materialize.min.js"></script>
    </body>
</html>
