<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/main.css">
    <title>ERROR</title>
</head>
<body>
    <h1><strong><%= message %></strong></h1>
    <h3><%= error.status %></h3>
    <p><%= error.stack %></p>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="javascripts/materialize.min.js"></script>
</body>
</html>