<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <!--FONT AWESOME-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>NG-House</title>
</head>
<body ng-app="ng-house" ng-controller="houseController">

        <div ng-include="'html/navbar.html'"></div>

        <!-- PRICE FILTER -->
        <div class="forms">

            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-3">Price Filter</h1>
                    <div class="row">
                        <div class="col-5">
                            <label class="display-5" for="minPrice">Min Price</label>
                        </div>
                        <div class="col-5">
                            <label class="display-5" for="maxPrice">Max Price</label>
                        </div>
                        
                        
                    </div>
                    <div class="row">
                        <div class="col-5">
                            
                            <div class="input-group">
                                <select name="minPrice" id="minPrice" ng-model="priceInfo.min" class="form-control">
                                    <option value="1000">1.000 €</option>
                                    <option value="2000">2.000 €</option>
                                    <option value="3000">3.000 €</option>
                                    <option value="4000">4.000 €</option>
                                    <option value="5000">5.000 €</option>
                                    <option value="6000">6.000 €</option>
                                    <option value="7000">7.000 €</option>
                                    <option value="8000">8.000 €</option>
                                    <option value="9000">9.000 €</option>
                                    <option value="10000">10.000 €</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-5">
                            
                            <div class="input-group">
                                <select name="maxPrice" id="maxPrice" ng-model="priceInfo.max" class="form-control">
                                    <option value="1000">1.000 €</option>
                                    <option value="2000">2.000 €</option>
                                    <option value="3000">3.000 €</option>
                                    <option value="4000">4.000 €</option>
                                    <option value="5000">5.000 €</option>
                                    <option value="6000">6.000 €</option>
                                    <option value="7000">7.000 €</option>
                                    <option value="8000">8.000 €</option>
                                    <option value="9000">9.000 €</option>
                                    <option value="10000">10.000 €</option>
                                    <option value="0">>10.000 €</option>
                                </select>
                            </div>
                        </div>
                        

                        <div class="col-2">
                            <button class="btn btn-primary bg-primary" ng-click="resetFilter()">
                                <i class="fa fa-refresh" aria-hidden="true" data-toggle="tooltip" title="Reset Filter"></i>
                            </button>
                            <button class="btn btn-primary" ng-click="toggleAdding()" ng-hide="addNewHouse">
                                <i class="fa fa-plus" aria-hidden="true" data-toggle="tooltip" title="Add new house"></i>
                            </button>
                            <button class="btn btn-success" ng-show="addNewHouse" ng-click="addHouse(newHouse)">
                                <i class="fa fa-check" aria-hidden="true" data-toggle="tooltip" title="Create house"></i>
                            </button>
                            <button class="btn btn-success" ng-show="editHouseEnabled" ng-click="saveChanges()">
                                <i class="fa fa-check" aria-hidden="true" data-toggle="tooltip" title="Save changes"></i>
                            </button>      
                        </div>
                    </div>
                </div>
            </div><!--END JUMBO-->
        

            

            <!--ADD NEW HOUSE-->
            <div ng-if="addNewHouse">

                <div class= "row listing-form-row ">

                    <div class="col-6 col-md-4">
                        <div class="input-group ">
                            <span class="input-group-addon">Address</span>
                            <input type="text" name="addressInput" class="form-control" placeholder="Address" ng-model="newHouse.Address">
                        </div>
                    </div>

                    <div class="col-6 col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Price</span>
                            <input type="text" name="priceInput" class="form-control" placeholder="Price in EUR" ng-model="newHouse.Price">
                        </div>
                    </div>

                    <div class="col-6 col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Type</span>
                            <select name="newHouseType" id="newHouseType" ng-model="newHouse.Type" class="form-control">
                                <option value="Tent">Tent</option>
                                <option value="House">House</option>
                                <option value="Villa">Villa</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class= "row listing-form-row ">
                    <div class="col-6 col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Description</span>
                            <input type="text" name="typeInput" class="form-control" placeholder="Description" ng-model="newHouse.Description">
                        </div>
                    </div>

                    <div class="col-3 col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">Bedrooms</span>
                            <input type="text" name="typeInput" class="form-control" placeholder="0" ng-model="newHouse.Bedrooms">
                        </div>
                    </div>

                    <div class="col-3 col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">Bathrooms</span>
                            <input type="text" name="typeInput" class="form-control" placeholder="0" ng-model="newHouse.Bathrooms">
                        </div>
                    </div>

                    <div class="col-6 col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Area</span>
                            <input type="text" name="typeInput" class="form-control" placeholder="0 m&sup2" ng-model="newHouse.Area">
                        </div>
                    </div>
                </div>
            </div>
            

            <!--EDIT LIST-->
            
        </div>

        <div class="alert alert-dismissable" ng-class="alertClass" ng-if="alertOn">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{alertMessage}}
       </div> 

        <!-- HOUSE LIST -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-4 card-col" ng-repeat="house in houses | houseFilter: priceInfo | orderBy: house.ID : true">
                    <div class="card card-front h-100" ng-hide="editMode">
                        <img class="card-img-top" ng-src="images/{{house.Image}}" alt="">
                        <div class="card-block">
                            <h3 class="card-title"><span class="fa fa-tag"></span> {{house.Price}} €</h3>
                            <h4 class="card-text"><span class="fa fa-home"></span> {{house.Address}}</h4>
                            <p>
                                <span class="badge badge-primary">{{house.Type}}</span>
                                <span class="badge badge-primary">Beds: {{house.Bedrooms}}</span>
                                <span class="badge badge-primary">Baths: {{house.Bathrooms}}</span>
                                <span class="badge badge-primary">{{house.Area}} m<sup>2</sup></span>
                            </p>
                            <button class="btn btn-primary btn-outline-primary btn-sm" 
                                    ng-click="editMode = true; editHouse = house">Edit
                            </button>
                            
                        </div>
                    </div>
                    <div class="card card-back h-100" ng-show="editMode">
                        <div class="card-block">
                            
                            <form>
                                <div class="container-fluid">
                                    <div class="form-group">
                                        <label for="editHouseAddress">Type</label>
                                        <input type="text" class="form-control" id="editHouseAddress" aria-describedby="adressInput" placeholder="Address" ng-model="editHouse.Type">
                                    </div>

                                    <div class="form-group">
                                        <label for="editHouseAddress">Address</label>
                                        <input type="text" class="form-control" id="editHouseAddress" aria-describedby="adressInput" placeholder="Address" ng-model="editHouse.Address">
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="editHouseAddress">Bedrooms</label>
                                                <input type="text" class="form-control" id="editHouseAddress" aria-describedby="adressInput" placeholder="Address" ng-model="editHouse.Bedrooms">
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="form-group">
                                                <label for="editHouseAddress">Bathrooms</label>
                                                <input type="text" class="form-control" id="editHouseAddress" aria-describedby="adressInput" placeholder="Address" ng-model="editHouse.Bathrooms">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="editHouseAddress">Area</label>
                                        <input type="text" class="form-control" id="editHouseAddress" aria-describedby="adressInput" placeholder="Address" ng-model="editHouse.Area">
                                    </div>

                                    <div class="form-group">
                                        <label for="editHouseAddress">Price</label>
                                        <input type="text" class="form-control" id="editHouseAddress" aria-describedby="adressInput" placeholder="Address" ng-model="editHouse.Price">
                                    </div>

                                    <button class="btn btn-primary btn-sm" type="submit" 
                                            ng-click="editMode = false; saveChanges(editHouse)">Save
                                    </button>

                                    <button class="btn btn-primary btn-outline-primary btn-sm" 
                                            ng-click="deleteHouse(house)">Remove
                                    </button>

                                    <button class="btn btn-primary btn-outline-primary btn-sm" 
                                            ng-click="editMode = false">Cancel
                                    </button>
                                    
                                </div>
                               
                            </form>

                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <!-- ANGULAR -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.7/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script type="text/javascript" src="javascripts/custom.js"></script>
    <script type="text/javascript" src="javascripts/houseApp.js"></script>
    <script type="text/javascript" src="javascripts/houseController.js"></script>
    <script type="text/javascript" src="javascripts/houseFactory.js"></script>
    <script type="text/javascript" src="javascripts/houseService.js"></script>
    <script type="text/javascript" src="javascripts/houseFilter.js"></script>
  </body>
</html>