<nav>
	<div class="nav-wrapper blue darken-4 white-text text-lighten-4">
		<a href="#" class="brand-logo">Nghouse</a>
		<a href="" data-target="sidenav" class="sidenav-trigger left"><i class="material-icons">menu</i></a>			
		<ul class="right hide-on-med-and-down">
			<li ng-if="navbar.user"><a href="#" class="dropdown-trigger" data-target="dropdown-user">
				<i class="material-icons left">person</i>
			</a></li>
			<li><a href="" ui-sref="login" ui-sref-active="active" ng-if="!navbar.user">Login</a></li>
		</ul>
	</div>
</nav>
<!-- dropdown -->
<ul id="dropdown-user" class="dropdown-content" ng-if="navbar.user">
	<li><a href="" ui-sref="profile" ui-sref-active="active" ng-if="navbar.user">Profile</a></li>
	<li><a href="" ui-sref="signup" ui-sref-active="active">New User</a></li>
	<li><a href="" ui-sref="createAdmin" ui-sref-active="active">New Admin</a></li>
	<li><a href="" ng-click="navbar.logout()" ng-if="navbar.user">Logout</a></li>
</ul>

<!-- side nav -->
<ul class="sidenav" id="sidenav">
	<li>
		<div class="user-view" style="min-height: 100px;">
			<div class="background">
				<img src="stylesheets/images/sidebar_bg.jpg" alt="sidebar_background_image">
			</div>
			<div ng-if="navbar.user">
				<a href=""><span class="white-text name">{{navbar.user.first_name}} {{navbar.user.last_name}}</span></a>
				<a href=""><span class="white-text name">{{navbar.user.username}}</span></a>
				<a href=""><span class="white-text email">{{navbar.user.email}}</span></a>
			</div>
			<div ng-if="!navbar.user">
				<a href="" ui-sref="login" ng-if="!navbar.user">
					<span class="white-text">Login required</span>
				</a>
			</div>
		</div>
	</li>
	<li><a class="waves-effect waves-light" href="" ui-sref="index">Home</a></li>
	<li><div class="divider"></div></li>	
	<li><a class="waves-effect waves-light" href="" ng-click="navbar.reload()">Reload page</li>
    <li><a class="waves-effect waves-light" href="" ui-sref="signup">Create a new user</a></li>
    <li><a class="waves-effect waves-light" href="" ui-sref="createAdmin">Create a new admin</a></li>
    <li><a class="waves-effect waves-light" href="" ui-sref="login" ng-if="!navbar.user">Login</a></li>
	<li><a class="waves-effect waves-light" href="" ui-sref="loginTest" ng-if="!navbar.user">Login as test user</a></li>
	<li><div class="divider"></div></li>
    <li><a class="waves-effect waves-light" href="" ui-sref="profile" ng-if="navbar.user">View my profile</a></li>
    <li><a class="waves-effect waves-light" href="" ui-sref="createHouse">Create new house offer</a></li>
    <li><a class="waves-effect waves-light" href="" ui-sref="test">Test generator</a></li>
	<li><div class="divider"></div></li>
	<li><a class="waves-effect waves-light" href="" ui-sref="about">About</a></li>	
    <li><a class="waves-effect waves-light" href="" ng-click="navbar.logout()" ng-if="navbar.user">Logout</a></li>		
</ul>
<script>
	$(document).ready(function () {
		$('.dropdown-trigger').dropdown();
		$(".sidenav").sidenav();
	})
</script>
