<nav>
	<div class="nav-wrapper blue darken-4 white-text text-lighten-4">
		<div class="container">
			<a href="#" class="brand-logo left" ui-sref="index" ui-sref-active="active">Nghouse</a>
			<ul class="right">
				<li><a href="" ng-click="navbar.reload()"><i class="material-icons">refresh</i></a></li>
				<li ng-if="navbar.user"><a href="" class="dropdown-button" data-activates="dropdown-user">
					<i class="material-icons left">person</i>{{navbar.user.last_name}}
				</a></li>
				<li><a href="" ui-sref="login" ui-sref-active="active" ng-if="!navbar.user">Login</a></li>
			</ul>
		</div>
	</div>
</nav>
<ul id="dropdown-user" class="dropdown-content" ng-if="navbar.user">
	<li><a href="" ui-sref="profile" ui-sref-active="active" ng-if="navbar.user">Profile</a></li>
	<li><a href="" ng-click="navbar.logout()" ng-if="navbar.user">Logout</a></li>
</ul>
<script>
	$(document).ready(function () {
		$('.dropdown-button').dropdown();
	})
</script>